@media (prefers-color-scheme: light) {
    :root {
        --text: #e7e7e7;
        --background: #545a64;
        --primary: #5dd5d1;
        --secondary: #c1cad7;
        --end: rgb(35,35,65);
        --accent: #085e25;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --text: aliceblue;
        --background: rgb(35, 35, 45);
        --primary: #1eadc0;
        --secondary: rgb(105, 105, 105);
        --end: rgb(35,35,65);
        --accent: #2db9ae;
    }
}

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
}

body {
    background-color: var(--background);
    width: 100vw;
    height: auto;
    margin: 0;
}

h1 {
    color: var(--text);
    font-size: xx-large;
}
h2 {
    color: var(--text);
    font-size: x-large;
}
h3 {
    color: var(--text);
    font-size: auto;
}
p {
    color: var(--text);
    font-size: medium;
    user-select: text;
}
.code {
    background-color: rgba(50, 50, 50, 100);
    color:#f3f3f3;
    font-family: 'Courier New', Courier, monospace;
}
a {
    color:var(--primary);
    font-size: medium;
}
a:hover {
    color: var(--accent);
    font-size: medium;
}

.notbold h2 {
    text-decoration: none;
}

img {
    border-radius: 10px;
    margin-bottom: 15px;
}

.result img {
    cursor: pointer;
}

.page {
    width: 50vw;
    min-width: 300px;
    margin: auto;
    padding: 10px;
    height: auto;
    text-align: center;
    margin-top: 1vh;
    margin-bottom: 5vh;
    background-color: var(--secondary);
    border-radius: 25px;
    user-select: none;
}

.pageNoBG {
    width: 50vw;
    min-width: 300px;
    margin: auto;
    padding: 10px;
    height: auto;
    text-align: left;
    margin-top: 1vh;
    margin-bottom: 5vh;
    user-select: none;
}

.centered {
    text-align: center;
    align-items: center;
}

.lalign {
    text-align: left;
    align-items: flex-start;
}

.footer {
    position: fixed;
    bottom: 0%;
    width: 100vw;
    background-color: var(--end);
}
.footer p {
    position: relative;
    color: var(--text);
    left: 3vw;
}

.header {
    background-color: var(--end);
}
.header img {
    width: 5%;
    min-width: 5vh;
    height: auto;
}

.blist {
    list-style-type: disc;
}

ul {
    user-select: text;
    overflow: hidden;
    text-align: left;
    padding-left: 6vw;
}
li {
    list-style-position: inside;
    color: var(--text);
}
li p {
    margin-top: -20px;
    position: relative;
    left: -3vw;
}

.buttonBox {
    width: 10vw;
    min-width: 100px;
    max-width: 200px;
    height: max-content;
}
button {
    background-color: var(--end);
    width: 10vw;
    min-width: 100px;
    max-width: 200px;
    height: 8vh;
    border-radius: 10px;
    border: 2px solid white;
    cursor: pointer;
}
button:hover {
    background-color: darkslateblue;
    border: 2px solid cornflowerblue;
}
button:active {
    background-color: royalblue;
}
button h3 {
    margin: auto;
    font-size: medium;
}
button:active h3 {
    color: skyblue;
}

.dropdown {
    display: none;
    border: 2px solid white;
    border-radius: 10px;
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: var(--end);
    position: relative;
    top:-10vh;
    width: 30vw;
    min-width: 300px;
    z-index: 1000;
    color: var(--text);
}
.dropdown div {
    padding: 5px;
    cursor: pointer;
}
.dropdown div text {
    font-size: auto;
}
.dropdown div:hover {
    background-color: var(--secondary);
}
.hidden {
    display: none;
}

.holder {
    position: relative;
    display: inline-block;
    width: 70vw;
    min-width: 400px;
}

.submitbutton {
    background-color: var(--end);
    color: var(--text);
    width: 10vw;
    min-width: 100px;
    max-width: 200px;
    height: 5vh;
    border-radius: 10px;
    border: 2px solid white;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    text-align: center;
    right: -35vw;
    top: -10vh;
}
.submitbutton:hover {
    background-color: darkslateblue;
    border: 2px solid cornflowerblue;
}

.searchbox {
    background-color: var(--end);
    color: var(--text);
    width: 30vw;
    min-width: 350px;
    min-width: 100px;
    height: 5vh;
    border-radius: 10px;
    border: 2px solid white;
    cursor: text;
    margin-right: 3em;
    margin-bottom: 5vh;
    font-size: medium;
    padding-left: 10px;
}
.searchbox:focus {
    outline: none;
    border: 2px solid cornflowerblue;
}


.result {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}
.result.border {
    background-color: rgba(200, 200, 200, 0.1);
    border-radius: 15px;
    margin-bottom: 1vh;
    min-width: 300px
}
.result.visible {
    opacity: 1;
    transform: translateY(0);
}
.result img {
    width: 40vw;
    height: auto;
    max-width: 100%;
    min-width: 250px;
}
.result.border img {
    width: 40vw;
    height: auto;
    max-width: 100%;
    min-width: 250px;
    margin-left: 5vw;
    margin-top: 1vh;
}
.result.border p {
    width: 40vw;
    margin-left: 5vw;
    min-width: 250px;
}
.result.border hr {
    width: 40vw;
    margin-left: 5vw;
    min-width: 250px;
}
.result.border h3 {
    width: 40vw;
    margin-left: 5vw;
    min-width: 250px;
}
.result.border h2 {
    width: 40vw;
    margin-left: 5vw;
    min-width: 250px;
}
.result.border h1 {
    width: 40vw;
    margin-left: 5vw;
    min-width: 250px;
}
  
.results {
    display: none;
    overflow-y: hidden;
}

.errbox {
    position: fixed;
    bottom: 90%;
    width: 20vw;
    min-width: 300px;
    left:40vw;
    height: auto;
    margin: auto;
    background-color: crimson;
    border-radius: 10px;
    color: aliceblue;
    display: none;
    z-index: 9999;
}
.errbox p {
    margin-left: 10px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 2000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.7);
    justify-content: center;
    align-items: center;
}

.model-content {
    margin: auto;
    display: block;
    max-width: 80%;
    max-height: 90vh;
}

.model-close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
}

.model-close:hover, .model-close:focus {
    color: #bbb;
    cursor: pointer;
}
