@media (prefers-color-scheme: light) {
    :root {
        --text: #0b0e14;
        --background: #838383;
        --primary: #5dd5d1;
        --secondary: #c1cad7;
        --end: rgb(35,35,65);
        --accent: #085e25;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --text: aliceblue;
        --background: rgb(35, 35, 45);
        --primary: #1eadc0;
        --secondary: rgb(105, 105, 105);
        --end: rgb(35,35,65);
        --accent: #2db9ae;
    }
}


* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
}

body {
    background-color: var(--background);
    width: 100vw;
    height: 100vh;
    margin: 0;
}

h1, h2 {
    color: var(--text);
    font-size: larger;
}
p {
    color: var(--text);
    font-size: large;
}

a {
    color:var(--primary);
    font-size: medium;
}
a:hover {
    color: var(--accent);
    font-size: medium;
}

.page {
    width: 50vw;
    min-width: 50vw;
    height: auto;
    text-align: center;
    margin-left: 25vw;
    margin-top: 1vw;
    background-color: var(--secondary);
    border-radius: 25px;
}

.pageNoBG {
    width: 50vw;
    height: auto;
    text-align: center;
    margin-left: 25vw;
    margin-top: 1vw;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100vw;
    background-color: var(--end);
}
.footer p {
    position: relative;
    color: var(--text);
    left: 3vw;
}

.header {
    background-color: var(--end);
}
.header img {
    width: 5%;
    min-width: 5vh;
    height: auto;
}